.header{
    bottom: 120px;
    right: 10px;
    left: 10px;
    top: 10px;
    border-bottom: 10px double dodgerblue;
}
.mainbody{
    top: 134px;
    left: 114px;
    right: 114px;
    bottom: 54px;
    padding-right: 5px;
}
.justifycenter{
    text-align: center;
}
.embed{
    
    justify-items: center;
}
.font{
    color: #555555;
    font-family:'Times New Roman', Times, serif
}
.navbar { /* navbar = your "topnav" */
    overflow: hidden;
    background-color: dodgerblue;
    position:fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}
.bodytext {
    text-align: center;
    color: black 12pt;
    font-family: 'Times New Roman', Times, serif;
}
.navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
  }
.anchor{
    text-align: center;
    font-size: medium;
    font-weight: 500;
    color: dodgerblue;
    justify-content: center;
}
.homebg{
    background-color: aliceblue;
}